In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('./database.sql')
df = pd.read_sql_query("SELECT * FROM epidemiology", conn)
df.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,tested,confirmed,recovered,dead,hospitalised,hospitalised_icu,quarantined
0,BRA_MSHM,2020-02-26,Brazil,BRA,(CO),,,None,0,None,0,None,None,None
1,BRA_MSHM,2020-02-26,Brazil,BRA,(N),,,None,0,None,0,None,None,None
2,BRA_MSHM,2020-02-26,Brazil,BRA,(NE),,,None,0,None,0,None,None,None
3,BRA_MSHM,2020-02-26,Brazil,BRA,(S),,,None,0,None,0,None,None,None
4,BRA_MSHM,2020-02-26,Brazil,BRA,(SE),,,None,1,None,0,None,None,None